.container {
  padding: 20px 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #403d39;
}

.desc {
  font-size: 24px;
  color: #edede9;
}

.title {
  color: #eb5e28;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
  .title {
    text-align: center;
  }

  .desc {
    width: 90%;
    text-align: center;
  }
}
