.container {
  height: calc(100vh - 100px);
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../public/img/wood.jpg);
  background-size: cover;
  background-position: center;
}

.left {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  flex: 1;
  padding: 20px;
}

.imgContainer {
  width: 80%;
  height: 80%;
  position: relative;
}

.price,
.desc,
.number {
  color: #edede9;
}

.title,
.choose {
  color: #eb5e28;
}

.price,
.number {
  font-weight: bold;
}

.price {
  font-size: 20px;
  border-bottom: 1px solid #edede9;
}
.sizes {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.size {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.size:hover {
  width: 50px;
  height: 50px;
  transition: 0.2s ease-in-out;
}

.size:nth-child(2) {
  width: 50px;
  height: 50px;
}
.size:nth-child(2):hover {
  width: 60px;
  height: 60px;
  transition: 0.2s ease-in-out;
}

.size:nth-child(3) {
  width: 60px;
  height: 60px;
}
.size:nth-child(3):hover {
  width: 70px;
  height: 70px;
  transition: 0.2s ease-in-out;
}

.number {
  position: absolute;
  top: -5px;
  right: -20px;
  background-color: #eb5e28;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 10px;
}

.ingredients {
  display: flex;
  margin-bottom: 30px;
}

.option {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #edede9;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.quantity {
  width: 50px;
  height: 30px;
}

.button {
  height: 30px;
  margin-left: 10px;
  background-color: #eb5e28;
  color: #edede9;
  border: none;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1065px) {
  .container {
    height: 100vh;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sizes {
    width: 100%;
    padding: 0px 20px;
  }

  .checkbox {
    width: 25px;
    height: 25px;
  }

  .quantity,
  .button {
    height: 50px;
    padding: 10px 20px;
  }
  .ingredients {
    flex-direction: column;
  }

  .imgContainer {
    width: 45vw;
    height: 45vw;
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: 100vh;
  }

  .imgContainer {
    width: 45vw;
    height: 45vw;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sizes {
    width: 100%;
    padding: 0px 20px;
  }

  .checkbox {
    width: 25px;
    height: 25px;
  }

  .quantity,
  .button {
    height: 50px;
    padding: 10px 20px;
  }
  .ingredients {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .container {
    height: auto;
    text-align: center;
    flex-direction: column;
  }

  .imgContainer {
    margin-top: 20px;
    width: 70vw;
    height: 70vw;
  }

  .title {
    margin: 5px;
  }

  .sizes {
    width: 100%;
    padding: 0px 20px;
  }

  .ingredients {
    flex-direction: column;
  }

  .option {
    margin: 10px;
    font-size: 18px;
  }
  .checkbox {
    width: 25px;
    height: 25px;
  }

  .quantity,
  .button {
    height: 50px;
    padding: 10px 20px;
  }
}
